//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

// ═══════════════════════════════════════════════════════════════════
// MOUSE SPEEDS
// ═══════════════════════════════════════════════════════════════════
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20

// ═══════════════════════════════════════════════════════════════════
// INCLUDES
// ═══════════════════════════════════════════════════════════════════
#include <dt-bindings/zmk/pointing.h>   // Mouse control
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>       // Standard key codes (A, B, LSHFT, etc.)
#include <dt-bindings/zmk/bt.h>         // Bluetooth controls (BT_NXT, BT_CLR, etc.)
#include <dt-bindings/zmk/outputs.h>    // Output toggle (USB vs BLE: OUT_TOG)
#include <dt-bindings/zmk/mouse.h>      // Mouse keys (mmv, mkp, msc)
// ═══════════════════════════════════════════════════════════════════
// LAYER INDEX
// ═══════════════════════════════════════════════════════════════════
#define BASE 0     // Default layer (QWERTY)
#define NAV  1     // Navigation
#define NUM  2     // Numpad
#define SYM  3     // Symbols
#define FUN  4     // Function keys, BLE & mouse

// ═══════════════════════════════════════════════════════════════════
// SHORTHAND MACRO
// MEH = Ctrl+Alt+Shift held simultaneously.
// ═══════════════════════════════════════════════════════════════════
#define MEH LC(LA(LSHFT))

// ═══════════════════════════════════════════════════════════════════
// HOLD-TAP GLOBAL SETTINGS (&mt = mod-tap)
// ═══════════════════════════════════════════════════════════════════
&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <220>;
};

/ {



    // ═══════════════════════════════════════════════════════════════
    // BEHAVIORS
    // ═══════════════════════════════════════════════════════════════
    behaviors {
        
        // OSL
        lt_sl: lt_sl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sl>;
        };

				// Slower tapping term for risky keys
				mt_slow: mt_slow {
    			compatible = "zmk,behavior-hold-tap";
    			#binding-cells = <2>;
    			tapping-term-ms = <400>; // Adjust delay here
    			quick-tap-ms = <100>;
    			flavor = "tap-preferred";
    			bindings = <&kp>, <&kp>;
				};

    };

    // ═══════════════════════════════════════════════════════════════
    // COMBOS
    // ═══════════════════════════════════════════════════════════════
    combos {
        compatible = "zmk,combos";

        // D+F (positions 12+13) → Eisu/EN input
        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        // J+K (positions 16+17) → Kana/JA input
        combo_kana {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        // F+J (positions 13+16) → Caps Word
        combo_caps_word {
            timeout-ms = <100>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
        };
    };

    // ═══════════════════════════════════════════════════════════════
    // MACROS
    // 
    // node_label: node_name {    ← define it here
    //   ...
    // }
    // 
    // &node_label    ← reference it like this in the keymap
    // ═══════════════════════════════════════════════════════════════
    macros {
      akqa: akqa {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings
          = <&macro_tap &kp LS(A) &kp LS(K) &kp LS(Q) &kp LS(A)>
        ;
      };
    };

    keymap {
        compatible = "zmk,keymap";

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "BASE"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃    ⌃ A    ┃    ⌥ S    ┃    ⌘ D    ┃    ⇧ F    ┃   ⌃⌥⇧ G   ┃   ┃   ⌃⌥⇧ H   ┃    ⇧ J    ┃    ⌘ K    ┃    ⌥ L    ┃    ⌃ -    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    SYM    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃    SYM    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃  FUN/ESC  ┃  NUM/BSPC ┃  NAV/TAB  ┃   ┃   ENTER   ┃   SPACE   ┃   ALFRED  ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        bindings = <
//  Note: LGUI is used on RH instead of RGUI because RGUI is remapped to Meh in OS via Superkey.app for when using other keyboards

                      &mt_slow LG(Q) Q    &mt_slow LG(W) W  &kp E           &mt_slow LG(R) R    	&mt LG(T) T         &kp Y               &kp U              &mt LG(I) I       &mt LG(O) O     &kp P
                      &mt LCTRL A   	  &mt LALT S     	&mt LGUI D      &mt LSHFT F    			&mt MEH G           &mt MEH H           &mt RSHFT J        &mt LGUI K        &mt RALT L      &mt RCTRL MINUS
    &lt_sl SYM SYM    &mt LG(Z) Z   	  &mt LG(X) X    	&mt LG(C) C     &mt LG(V) V     		&mt LG(LS(V)) B     &mt LG(N) N         &kp M              &kp COMMA         &kp DOT         &mt LC(FSLH) FSLH    &lt_sl SYM SYM
                                                    		&lt FUN ESC     &lt NUM BSPC   			&lt NAV TAB         &mt LG(RET) RET     &kp SPACE 		   &kp LA(SPACE)
                >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        nav_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NAV"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃    TAB    ┃   PG UP   ┃     ↑     ┃   PG DN   ┃   SCREEN  ┃   ┃           ┃           ┃           ┃           ┃           ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃    BSPC   ┃     ←     ┃     ↓     ┃     →     ┃   ZOOM +  ┃   ┃           ┃    SFT    ┃    CMD    ┃    OPT    ┃   CTRL    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃   SHIFT   ┃   ENTER   ┃   ← PREV  ┃   SPACE   ┃   NEXT →  ┃   ZOOM -  ┃   ┃           ┃           ┃           ┃           ┃           ┃  (trans)  ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃  (trans)  ┃  (trans)  ┃   (held)  ┃   ┃  (trans)  ┃  (trans)  ┃  (trans)  ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        bindings = <

                &kp TAB             &mt LG(UP) PG_UP     &kp UP              &mt LG(DOWN) PG_DN   &kp LG(LS(N4))        		&none         &none         &none          &none          &none
                &mt LG(BSPC) BSPC   &kp LEFT             &kp DOWN            &kp RIGHT            &mt LG(LC(UP)) LC(UP)    	 	&none         &kp LSHFT     &kp LGUI       &kp LALT       &kp LCTRL
    &kp LSHFT   &mt LG(Z) RET       &mt LG(X) LC(LEFT)   &mt LG(C) SPACE     &mt LG(V) LC(RIGHT)  &mt LG(LC(DOWN)) LC(DOWN)     &none         &none         &none          &none          &none        &trans
                                                         &trans              &trans               &trans                		&trans        &trans        &trans
                >; 
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        num_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NUM"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃    TAB    ┃     7     ┃     8     ┃     9     ┃     0     ┃   ┃           ┃           ┃           ┃           ┃           ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃    BSPC   ┃     4     ┃     5     ┃     6     ┃     -     ┃   ┃           ┃    SFT    ┃    CMD    ┃    OPT    ┃   CTRL    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    SYM    ┃   ENTER   ┃     1     ┃     2     ┃     3     ┃     .     ┃   ┃           ┃           ┃     ,     ┃     .     ┃     /     ┃    SYM    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃  (trans)  ┃   (held)  ┃  (trans)  ┃   ┃  (trans)  ┃  (trans)  ┃  (trans)  ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        bindings = <

                &kp TAB             &mt LG(N7) N7   &mt LG(N8) N8   &mt LG(N9) N9   &mt LG(N0) N0          &none    &none       &none       &none       &none
                &mt LCTRL BSPC      &mt LG(N4) N4   &mt LG(N5) N5   &mt LG(N6) N6   &mt SPACE MINUS        &none    &kp LSHFT   &kp LGUI    &kp LALT    &kp LCTRL
    &trans      &mt LS(RET) RET     &mt LG(N1) N1   &mt LG(N2) N2   &mt LG(N3) N3   &mt LS(SEMI) DOT       &none    &none       &trans      &trans      &trans        &trans
                                                    &trans          &trans          &trans                 &trans   &trans      &trans
                >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        sym_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "SYM"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃           ┃     $     ┃     (     ┃     )     ┃     %     ┃   ┃     ¥     ┃     `     ┃     ^     ┃     ~     ┃     |     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃           ┃     *     ┃     '     ┃     #     ┃     +     ┃   ┃   GLYPHS  ┃     @     ┃     !     ┃     ;     ┃     :     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃  (held)   ┃     _     ┃     /     ┃     [     ┃     ]     ┃     =     ┃   ┃     &     ┃     "     ┃     {     ┃     }     ┃     \     ┃   (held)  ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃  (trans)  ┃  (trans)  ┃  (trans)  ┃   ┃  (trans)  ┃  (trans)  ┃  (trans)  ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        bindings = <

                &none           &kp DOLLAR      &kp LPAR    &kp RPAR    &kp PERCENT     &kp LA(Y) 	    &kp GRAVE       &kp CARET      &kp TILDE       &kp PIPE
                &none           &kp ASTRK       &kp SQT     &kp HASH    &kp PLUS        &kp F4          &kp AT          &kp EXCL       &kp SEMI        &kp COLON
    &trans      &kp UNDER       &kp FSLH        &kp LBKT    &kp RBKT    &kp EQUAL       &kp AMPS        &kp DQT         &kp LBRC       &kp RBRC        &kp BACKSLASH     &trans
                                                &trans		&trans		&trans			&trans			&trans		 	&trans
                >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


        fun_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "FUN"                             ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃   BT CLR  ┃    F7     ┃    F8     ┃    F9     ┃    F10    ┃   ┃           ┃   SCRL ↓  ┃  MOUSE ↑  ┃   SCRL ↑  ┃           ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃  BT NEXT  ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃   ┃           ┃  ← MOUSE  ┃  MOUSE ↓  ┃   MOUSE → ┃           ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃  (trans)  ┃  BT ZERO  ┃    F1     ┃    F2     ┃    F3     ┃    F12    ┃   ┃           ┃  ← BACK   ┃           ┃    FWD →  ┃           ┃   ENTER   ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃  (held)   ┃  (trans)  ┃  (trans)  ┃   ┃  L CLICK  ┃  R CLICK  ┃    ESC    ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

        bindings = <

                &bt BT_CLR   	&kp F7         &kp F8          &kp F9          &kp F10            &none       			&msc SCRL_DOWN    &mmv MOVE_UP      &msc SCRL_UP      &none
                &bt BT_NXT  	&kp F4         &kp F5          &kp F6          &kp F11            &none       			&mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT   &none
    &trans      &bt BT_SEL 0  	&kp F1         &kp F2          &kp F3          &kp F12            &none      		 	&kp LC(COMMA)	  &none            	&kp LC(DOT)       &none		&kp RET
                                               &trans          &trans          &trans             &mkp LCLK     		&mkp RCLK         &kp ESC
                >;
        };

    };
};
